
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Product
 
<h1>Ürün Güncelleme</h1>

<form asp-controller="products" asp-action="update" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Ürün Adı:</label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label">Fiyatı:</label>
        <input class="form-control" asp-for="Price" />
    </div>

    <div class="mb-3">
        <label asp-for="Stok" class="form-label">Stok:</label>
        <input class="form-control" asp-for="Stok" />
    </div>

    <div class="mb-3">
        @*   <label asp-for="Color" class="form-label">Ürün Renk:</label>
        <input class="form-control" asp-for="Color" />*@
        <select class="form-select" asp-for="Color" asp-items="@ViewBag.ColorSelect">
            <option value="">Renk seçiniz</option>
        </select>
    </div>

    <div class="form-check">
        <input class="form-check-input" asp-for=isPublish>
        <label class="form-check-label" asp-for="isPublish">
            Yayınlansın mı?
        </label>
    </div>

    <div class="form-group my-3">

        <textarea class="form-control" rows="10" asp-for="Description" placeholder="Ürün açıklaması giriniz..."></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="puslishDate" class="form-label">Yayınlanma Tarihi</label>
        <input class="form-control" asp-for="puslishDate" />
    </div>

    <button type="submit" class="btn btn-info text-white">Kaydet</button>
</form>


